body{
	font-family: Verdana;
	background-image: url(image/bu.jfif);
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
}
h1{
	background-color: rgba(184,235,202,0.1);
	color: 3C87C0;
}
h2{
	color: 3C87C0;
}
p{
	line-height: 2em;
	text-indent: 30px;
}
div{
	background-color: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.1);
}
